<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Dashboard</title>
</head>
<body class="container">
    <nav class="navbar navbar-expand-xl navbar-light bg-light">
        <div class="container-fluid">
        <a class="navbar-brand" href="/dashboard">Cocktail Haven</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarBasic" aria-controls="navbarBasic" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse show" id="navbarBasic">
            <ul class="navbar-nav me-auto mb-2 mb-xl-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/create/drink">Add a Cocktail</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/log_out">Logout</a>
            </li>
            </ul>
            <!-- if wanting to use this search form, need to write a route -->
            <form action="/filter" method="POST" class="d-flex">
                <input class="form-control me-2" type="text" name="spirit" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        </div>
    </nav>
    <div class="description">
        <h1 id="about">About this site</h1>
        <p>Welcome to the Cocktail Haven website! This is a database of cocktails that have been uploaded by our users. To add your own cocktail to the database, use the "Add a Cocktail" button in the navigation bar at the top of the page.</p>
        <p>Click on the name of the cocktail in the card header below to see all the ingredients and mixing instructions for eaach drink.</p>
        <p>You can also filter the cocktails by main spirit with the search bar if you like. The options are: etc...</p>
    </div>
    <div class="main-section">
            {% for drink in drinks %}
            <div class="card col-md-4 col-lg-4">
                <h3 class="card-header"><a href="/show/{{drink.id}}">{{drink.name}}</a></h3>
                <div class="card-body">
                    <p class="card-text"><strong>Ingredients and Measurements:</strong></p>
                    <p class="card-text">{{drink.ingredient}}</p>
                    <p class="card-text"><strong>Mixing instructions:</strong></p>
                    <p class="card-text">{{drink.instruction}}</p>
                    <h4 class="card-title">Uploaded by: {{drink.user.first_name}} {{drink.user.last_name}}</h4>
                    {% if drink.user.id == session['user_id']['id'] %}
                    <a class="btn btn-secondary" href="/edit/{{drink.id}}">Edit</a> <a class="btn btn-danger" href="/delete/{{drink.id}}">Delete</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
    </div>
</body>
</html>