<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <title>Dashboard</title>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
    <h1 class="">Cocktail Haven</h1>
    <a href="/log_out">Logout</a>
</nav>
<body class="container">
    <div class="top-div">
        <a class="btn btn-primary" href="/create/drink">Add a Cocktail</a>
    </div>
    <div class="d-flex flex-wrap">
        <table class="table table-hover border">
            <tbody>
                {% for drink in drinks %}
            <tr>
                <td>
                    <p>{{drink.name}}</p>
                    <p>Created by: {{drink.user.first_name}} {{drink.user.last_name}}</p>
                    <p>{{drink.ingredient}}</p>
                    <p>{{drink.instruction}}</p>
                </td>
                <td>
                    <a class="btn btn-secondary" href="/show/{{drink.id}}">View</a> 
                    {% if drink.user.id == session['user_id']['id'] %}
                    <a class="btn btn-secondary" href="/edit/{{drink.id}}">Edit</a> <a class="btn btn-secondary" href="/delete/{{drink.id}}">Delete</a>
                    {% endif %}
                </td>
            </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>