<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <title>Dashboard</title>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
    <h1 class="">Cocktail Haven</h1>
    <a href="/log_out">Logout</a>
</nav>
<body class="container">
    <div class="top-div">
        <a class="btn btn-primary" href="/create/drink">Add a Cocktail</a>
    </div>
    <div class="col-sm-12">
        <div class="col-6 mx-auto">
            {% for drink in drinks %}
            <div class="card">
                <h3 class="card-header">{{drink.name}}</h3>
                <div class="card-body">
                    <h4 class="card-title">Creator: {{drink.user.first_name}} {{drink.user.last_name}}</h4>
                    <p class="card-text">Ingredients needed to mix:</p>
                    <p class="card-text">{{drink.ingredient}}</p>
                    <p class="card-text">Mixing instructions:</p>
                    <p class="card-text">{{drink.instruction}}</p>
                    <a href="/show/{{drink.id}}" class="btn btn-primary">Go to {{drink.name}} page.</a>
                    {% if drink.user.id == session['user_id']['id'] %}
                    <a class="btn btn-secondary" href="/edit/{{drink.id}}">Edit</a> <a class="btn btn-secondary" href="/delete/{{drink.id}}">Delete</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>