/* all css */

* {
    padding: 0px;
    margin: 0px;
}

.login, .register{
    margin-top: 30px;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    border: solid 2px black;
    border-radius: 5%;
}

#login-reg{
    background-image: url("../imgs/back_bar.jpg");
    background-size: cover;
}

.login > li, .register > li {
    margin-bottom: 5px;
    margin-left: -25px;
    border-radius: 20%;
    text-align: center;
}

.error{
    font-size: larger;
    font-weight: bold;
    background-color: #f7d6d9;
    list-style: none;
    margin-left: -20px;
}

.click {
    font-size: large;
    font-weight: bold;
    color: rgb(255, 0, 0)
}

@font-face {
    font-family: Corinthia;
    src: url(../fonts/Corinthia-Bold.ttf);
}

.navbar-brand {
    font-family: Corinthia;
    font-size: 5em;
}

nav {
    background: #4AC29A;
    background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);
    background: linear-gradient(to right, #BDFFF3, #4AC29A); 
    border-radius: 10px;
}

.login-nav{
    margin: auto;
}

.nav-link{
    font-size: larger;
}

.description{
    width: 70%;
    margin: auto;
    background-color: ghostwhite;
    padding: 15px;
    margin-top: 15px;
    border-radius: 5px;
}

.description > #p {
    text-align: center;
}

#about {
    text-align: center;
}

.main-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
}

.container {
    height: 2000px;
    background-image: url("../imgs/bg_bar.jpg");
}

.card {
    margin: 15px 15px;
    height: fit-content;
    width: 400px;
    transition: all 0.2s ease-in-out;
}

.card.hover {
    transform: scale(1.1)
}

.card-header{
    text-align: center;
    background-color: #ffb53d;
}

.card-header > a {
    text-decoration: none;
    color: black;
}

.createDrink {
    background-color: aliceblue;
    border: 2px solid black;
    width: 600px;
    padding: 25px;
    margin: auto;
    margin-top: 50px;
}

.createDrink > #cocktail-name {
    text-align: center;
    background-color: #ffb53d;
}

textarea {
    height: 150px;
}

.card-text {
    margin: 5px;
}

.is-hidden { 
    display: none; 
}

#searchbox{
    width: 300px;
}

.user-table{
    background-color: #f8f8ff;
    border-radius: 5px;
    margin-top: 20px;
}